---
import type { CardGroupBlock, Media, Page } from "@local/payload/types";
import CardLink from "./card-link.astro";

export interface Props {
  cards: CardGroupBlock["cards"];
}

const { cards } = Astro.props;
---

<div
  class="cards-block flex flex-wrap flex-row gap-4 max-sm:flex-col max-sm:flex-nowrap max-sm:w-fit max-sm:mx-auto"
>
  {
    cards?.map((card, index) => (
      <CardLink
        key={index}
        title={card.title}
        description={card.description || undefined}
        image={card.image as Media | undefined}
        link={card.link as Page | undefined}
      />
    ))
  }
</div>
