---
import "@/styles/globals.css";
import SiteFooter from "@/components/layout/site-footer.astro";
import SiteHeader from "@/components/layout/site-header.astro";
import type { NavigationData, Page } from "@local/payload/types";
import { Font } from "astro:assets";

export interface Props {
  nav: NavigationData;
}

const { nav } = Astro.props;

const socialLinks = nav.footer?.socialLinks?.map((link) => {
  return {
    ariaLabel: link.ariaLabel,
    url:
      link.linkType === "external"
        ? link.url
        : (link.target as Page)?.url || "/",
    icon: link.icon,
    openInNewTab: link.openInNewTab,
  };
});
const navLinks = nav.header?.navigationLinks?.map((link) => {
  return {
    label: link.label || "",
    url:
      (link.linkType === "external" ? link.url : (link.target as Page)?.url) ||
      "/",
    icon: link.icon as string | undefined,
    openInNewTab: link.openInNewTab || false,
  };
});
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      rel="preload"
      href="/assets/css/prism-shades-of-purple.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="/assets/css/prism-shades-of-purple.css"
      /></noscript
    >

    <Font cssVariable="--font-dm-sans" preload />

    <slot name="head" />
  </head>
  <body class="flex flex-col min-h-screen">
    <SiteHeader links={navLinks} />
    <main class="page-container mb-4">
      <slot />
    </main>
    <SiteFooter
      socialLinks={socialLinks || []}
      copyrightText={nav.footer?.copyrightText || ""}
    />
  </body>
</html>
