---
import "@fontsource-variable/dm-sans";
import "@/styles/globals.css";
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="head" />
	</head>
	<body>
		<main class="page-container">
			<slot />
		</main>
	</body>
</html>
