---
// Component Imports
import BaseLayout from '@/layouts/base-layout.astro';
import Typography from '@/components/ui/typography.astro';
---

<BaseLayout>
  <Fragment slot="head">
    <title>404 | r3pwn</title>
  </Fragment>
  <Typography display="body-lg">Not found</Typography>
</BaseLayout>
