---
// Component Imports
import BaseLayout from "@/layouts/base-layout.astro";

import { getPageByUrl } from "@/providers/content-provider";

import RichTextNode from "@/components/blocks/rich-text/block.astro";
import OpenGraph from "@/components/open-graph.astro";
import type { Media } from "@local/payload/types";
import PageHeader from "@/components/meta/page-header.astro";
import "@/styles/page-content.css";

const { slug } = Astro.params;

const pageUrl = slug ? `/${slug}` : "/";

const page = await getPageByUrl(pageUrl);

if (!page) {
  return Astro.rewrite("/404");
}

const showHeader = !!page.title && !!page.subtitle;
const pageBreadcrumbs = [
  { label: "Home", url: "/" },
  ...page.breadcrumbs!.map((crumb) => ({
    label: crumb.label || "",
    url: crumb.url || "",
  })),
];
---

<BaseLayout>
  <Fragment slot="head">
    <OpenGraph
      title={page.meta?.title || page.title}
      description={page.meta?.description || page.subtitle || ""}
      url={pageUrl}
      imageUrl={(page.meta?.image as Media)?.url || ""}
      siteName="r3pwn"
    />
  </Fragment>
  <Fragment>
    {
      showHeader && (
        <PageHeader
          title={page.title}
          subtitle={page.subtitle || ""}
          breadcrumbs={pageBreadcrumbs}
          class="mb-6"
        />
      )
    }
    <div class="[&>p]:my-1 rich-text-root">
      <RichTextNode content={page.content?.root as any} />
    </div>
  </Fragment>
</BaseLayout>
