---
import type { HTMLAttributes } from 'astro/types';
import Typography from '../ui/typography.astro';

interface ComponentProps {
  title: string;
  subtitle?: string;
  breadcrumbs: {
    label: string;
    url: string,
  }[]
}

export interface Props extends Omit<HTMLAttributes<"div">, "title">, ComponentProps {}
const { title, subtitle, breadcrumbs, ...attrs } = Astro.props;
---

<div {...attrs}>
  {/*breadcrumbs && (
    <SmartBreadcrumbs breadcrumbs={breadcrumbs} className="mb-2" />
  )*/}
  <Typography as="h1" display="heading-xl">
    {title}
  </Typography>
  {subtitle && (
    <Typography display="heading-md" className="block mt-1">
      {subtitle}
    </Typography>
  )}
</div>
