---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<"nav"> {}

const attrs = Astro.props;
---

<nav aria-label="breadcrumb" {...attrs}>
  <slot />
</nav>
