---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from "astro-icon/components";
import Button from "../ui/button.astro";
import { Image } from "astro:assets";

export interface Props {
  links?: {
    label: string;
    url: string;
  }[];
}
const { links = [] } = Astro.props;
---

<header class="bg-card border-b-2 md:flex">
  <Astronav>
    <div class="flex justify-between">
      <Button
        variant="ghost"
        size="icon"
        aria-label="Home page"
        class="p-1 m-2 w-12 h-12 max-md:ml-0 max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2"
        href="/"
        as="a"
      >
        <Image
          alt=""
          aria-hidden="true"
          height="40"
          width="40"
          src="/apple-touch-icon.png"
        />
      </Button>
      <div class="block md:hidden">
        <MenuIcon
          class="inline-flex items-center justify-center transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring hover:bg-accent hover:text-accent-foreground rounded-full p-2 m-2 w-12 h-12"
        />
      </div>
    </div>
    <MenuItems class="hidden md:hidden">
      <ul>
        {
          links.map((link) => (
            <li>
              <Button variant="link" as="a" href={link.url}>
                {link.label}
                <span class="ml-2 text-xs">
                  <Icon
                    name="chevron-right"
                    font-size="inherit"
                    height={16}
                    width={16}
                  />
                </span>
              </Button>
            </li>
          ))
        }
      </ul>
    </MenuItems>
    <MenuItems class="hidden max-md:hidden md:flex">
      <ul class="flex flex-row gap-2 mt-auto mb-auto ml-4">
        {
          links.map((link) => (
            <li>
              <Button variant="secondary" as="a" href={link.url}>
                {link.label}
              </Button>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
